MusicSharer.Common/obj
.vs/MusicSharer/v15
MusicSharer.Services/obj
MusicSharer/MusicSharer.Android/bin
MusicSharer/MusicSharer.Android/obj
MusicSharer/MusicSharer/obj
MusicSharer/MusicSharer/bin
MusicSharer.Common/bin
MusicSharer.Services/bin
